:root {
  --ldarkbg: rgb(44, 44, 44);
  --darkbg: rgb(17, 17, 18);
  --lightgraybg: rgb(169, 169, 169);
  --darkgraybg: rgb(92, 91, 91);
  --color-1: rgb(0, 159, 107);
  --color-2: rgb(255, 211, 0);
  --color-3: rgb(196, 2, 51);
  --color-4: rgb(0, 135, 189);
  --color-5: rgb(255, 109, 0);
}

#root {
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Sans Normalcy", "Nanum Gothic", Arial, sans-serif;
  background-color: var(--ldarkbg);
  color: white;
}

.containerr {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  background: 0 0;
  color: inherit;
}
a:visited {
  text-decoration: none;
}

/*-------------------  General Header / Logo & Name  -------------------*/

header {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  height: 16vmin;
  width: 100%;
  padding: 0px 0px 0px 0px;

  background-color: var(--darkbg);

  color: white;
  border-bottom: 8px solid black;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

header img {
  float: left;
  width: 13vmin;
  margin: 0px;
  padding-left: 2.5vmin;
  padding-top: 1.5vmin;
  left: 0px;
}

header .logo-names {
  flex-direction: column;
}

header h1 {
  padding: 1.5vmin 0vmin 0vmin 2vmin;
  margin: 0px;
  font-weight: 700;
  font-size: 4vmin;
  text-wrap: nowrap;
}

header h2 {
  padding: 0vmin 0vmin 0vmin 2vmin;
  margin-top: 0px;
  font-size: 2.2vmin;
}

/*-------------------  Nav Bar / Mobile Nav  -------------------*/

.center-nav {
  position: absolute;
  align-self: center;
  right: 10px;
  z-index: 1;
}

.navbar-toggler {
  align-self: center;
  color: rgb(255, 255, 255, 0.2);
  border: 3px solid rgb(255, 255, 255, 0.2);
}

.navli {
  position: absolute;
  top: 110%;
  right: 2vmin;
  background: var(--darkbg);
  padding: 3vmin 2vmin 3vmin 2vmin;
  border: 2px solid white;
  border-radius: 12px;
}

.navbar-nav li {
  margin: 0 5px 0 5px;
  padding: 0px;
  letter-spacing: 1px;
  text-wrap: nowrap;
}

.navbar-nav li:first-child {
  margin-right: 15px;
  padding-right: 15px;
}

navbar-nav li .current {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: bold;
}

.nav-link {
  color: #ffffff;
  display: block;
  font-size: 1.6vmin;
  padding: 5px 20px 5px 10px;
  margin: 0;
  border-radius: 12px;
}

.nav-link:hover {
  background-color: #ddd;
  color: black;
  border-radius: 12px;
}

.nav-link.active {
  background-color: #dc143c;
  color: #ffffff;
}

navbar li:first-child {
  margin-right: 5px;
  padding-right: 0;
  border-right: none;
}
navbar .nav-link:first-child {
  padding-right: 20px;
}

/*-------------------  Home/Index Page  -------------------*/

.content-main {
  background-color: var(--ldarkbg);

  padding: 2vmin 0vmin 0vmin 0vmin;
  display: flex;
  justify-content: center;

  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-feature-settings: "case", "ss01", "ss04";
}

.warning-home {
  text-align: center;
  margin-top: 15vmin;

  color: white;
  position: relative;
}

.warning-home h1 {
  margin: 10px 0px 10px 0px;
}

.warning-home h1 #warn {
  color: var(--color-3);
  letter-spacing: 3px;
}

.warning-home #classified {
  letter-spacing: 3.5px;
  font-size: 13vmin;
  font-weight: bold;

  color: var(--color-3);
  text-shadow: 0px 0px 20px black, 0px 0px 30px black;
}

.warning-home h2 {
  padding: 0px;
  margin: 0px;
}

.warning-home #scp {
  margin-top: 10vmin;

  font-size: 4vmin;
  letter-spacing: 1.5px;
  word-spacing: 25px;
  text-shadow: 0px 0px 20px black, 0px 0px 30px black;
}

/*--------------------------------  SCP Info  --------------------------------*/

.content {
  background-color: var(--darkbg);
  color: white;
  font-family: Inter,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  font-feature-settings: 'case','ss01','ss04';
  padding-bottom: 100px;
}

.content h1, h2, p{
  margin: 0px;
  padding: 0px;
}

.image {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.image img {
  width: 100%;
  height: 50vmin;
  object-fit: cover;
  filter: brightness(50%);
}

.image h1 {
  font-size: 4.5vmin;
}

.image h1:first-of-type {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.image h1:last-of-type {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.scp-info {
  box-sizing: border-box;
  margin-top: 20px;

}

.scp-info hr {
  width: 92%;
  height: 3px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
}

.scp-info h3, .scp-info h4, .scp-info p {
  margin: 0px;
  padding: 0px;
}

.scp-info h3 {
  font-size: 4vmin;
  margin-top: 5px;
  margin-bottom: 20px;
}

.scp-info h4 {
  font-size: 3vmin;
  margin-top: 5px;
  margin-bottom: 20px;
}

.scp-info p {
  font-size: 2vmin;
}

/*-------------------  SCP Special Containment Procedures  -------------------*/

.scp-containment-info {
  box-sizing: border-box;
  padding: 10px 100px 20px 100px;
  margin-top: 30px;
}

.scp-description {
  box-sizing: border-box;
  padding: 10px 100px 20px 100px;
}

.scp-reference {
  box-sizing: border-box;
  padding: 10px 100px 20px 100px;
}


/*-------------------  Media queries -------------------*/

@media (max-width: 800px) {
  .nav-link {
    color: #ffffff;
    display: block;
    font-size: 1.8vmin;
    padding: 5px 20px 5px 10px;
    margin: 0;
    border-radius: 12px;
  }
}

@media (max-width: 750px) {
  .nav-link {
    color: #ffffff;
    display: block;
    font-size: 2vmin;
    padding: 5px 20px 5px 10px;
    margin: 0;
    border-radius: 12px;
  }
  .scp-containment-info,
  .scp-description {
    padding-left: 30px;
    padding-right: 30px;
  }
  .image h1 {
    font-size: 5vmin;
  }
  .scp-info hr {
    height: 1px;
  }
  .scp-info h3 {
    font-size: 7vmin;
  }
  .scp-info h4 {
    font-size: 6vmin;
  }
  .scp-info p {
    font-size: 3.5vmin;
  }
}

@media (max-width: 600px) {
  .nav-link {
    color: #ffffff;
    display: block;
    font-size: 2.2vmin;
    padding: 5px 20px 5px 10px;
    margin: 0;
    border-radius: 12px;
  }
  header {
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    height: 96.32px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: var(--darkbg);
    color: white;
    border-bottom: 8px solid black;
  }
  header img {
    float: left;
    width: 78.26px;
    margin: 0px;
    padding-left: 15.05px;
    padding-top: 9.03px;
    left: 0px;
  }
  header h1 {
    padding: 9px 0px 0px 12.04px;
    margin: 0px;
    font-weight: 700;
    font-size: 24.08px;
    text-wrap: nowrap;
  }
  header h2 {
    padding: 0px 0px 0px 12.04px;
    margin-top: 0px;
    font-size: 13.244px;
  }
}

@media (max-width: 450px) {
  .nav-link {
    color: #ffffff;
    display: block;
    font-size: 2.6vmin;
    padding: 5px 20px 5px 10px;
    margin: 0;
    border-radius: 12px;
  }
}

@media (max-width: 400px) {
  .nav-link {
    color: #ffffff;
    display: block;
    font-size: 2.8vmin;
    padding: 5px 20px 5px 10px;
    margin: 0;
    border-radius: 12px;
  }
  .navbar-toggler {
    font-size: 1.25pc;
  }
}
