:root {
  --ldarkbg: rgb(44, 44, 44);
  --darkbg: rgb(17, 17, 18);
  --lightgraybg: rgb(169, 169, 169);
  --darkgraybg: rgb(92, 91, 91);
  --color-1: rgb(0, 159, 107);
  --color-2: rgb(255, 211, 0);
  --color-3: rgb(196, 2, 51);
  --color-4: rgb(0, 135, 189);
  --color-5: rgb(255, 109, 0);
}

#root {
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Sans Normalcy", "Nanum Gothic", Arial, sans-serif;
  background-color: var(--ldarkbg);
  color: white;
}

.containerr {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  background: 0 0;
  color: inherit;
}
a:visited {
  text-decoration: none;
}

/*-------------------  General Header / Logo & Name  -------------------*/

header {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  height: 16vmin;
  width: 100%;
  padding: 0px 0px 0px 0px;

  background-color: var(--darkbg);

  color: white;
  border-bottom: 8px solid black;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

header img {
  float: left;
  width: 13vmin;
  margin: 0px;
  padding-left: 2.5vmin;
  padding-top: 1.5vmin;
  left: 0px;
}

header .logo-names {
  flex-direction: column;
}

header h1 {
  padding: 1.5vmin 0vmin 0vmin 2vmin;
  margin: 0px;
  font-weight: 700;
  font-size: 4vmin;
  text-wrap: nowrap;
}

header h2 {
  padding: 0vmin 0vmin 0vmin 2vmin;
  margin-top: 0px;
  font-size: 2.2vmin;
  font-weight: bold;
}

/*-------------------  Nav Bar / Mobile Nav  -------------------*/

.center-nav {
  position: absolute;
  align-self: center;
  right: 40px;
  z-index: 1;
}

.navbar-toggler {
  align-self: center;
  color: rgb(255, 255, 255, 0.2);
  border: 3px solid rgb(255, 255, 255, 0.2);
}

.navli {
  position: absolute;
  top: 110%;
  right: 2vmin;
  background: var(--darkbg);
  padding: 3vmin 1vmin 3vmin 3.5vmin;
  border: 2px solid white;
  border-radius: 12px;
}

.navbar-nav li {
  margin: 0 5px 0 5px;
  padding: 0px;
  letter-spacing: 1px;
  text-wrap: nowrap;
  font-size: 1.5rem;
}

.navbar-nav li:first-child {
  margin-right: 15px;
  padding-right: 15px;
}

.navbar-nav li a.active {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: bold;
  color: var(--color-3);
}

/*-------------------  Home/Index Page  -------------------*/

.content-main {
  background-color: var(--ldarkbg);

  padding: 2vmin 0vmin 0vmin 0vmin;
  display: flex;
  justify-content: center;

  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-feature-settings: "case", "ss01", "ss04";
}

.warning-home {
  text-align: center;
  margin-top: 15vmin;

  color: white;
  position: relative;
}

.warning-home h1 {
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}

.warning-home h1 #warn {
  color: var(--color-3);
  letter-spacing: 3px;
}

.warning-home #classified {
  letter-spacing: 1vmin;
  font-size: 13vmin;
  font-weight: bold;

  color: var(--color-3);
  text-shadow: 0px 0px 20px black, 0px 0px 30px black;
}

.warning-home h2 {
  padding: 0px;
  margin: 0px;
  font-size: 1.8rem;
}

.warning-home #scp {
  margin-top: 10vmin;

  font-size: 3rem;
  letter-spacing: 1.5px;
  word-spacing: 25px;
  text-shadow: 0px 0px 20px black, 0px 0px 30px black;
}

hr {
  margin: 150px auto 70px auto;
  width: 92%;
  height: 3px;
  background-color: white;
}

.grid-container {
  margin-bottom: 10%;
  padding: 0px 5% 0px 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  width: 100%;
}

.grid-item {
  box-sizing: border-box;
  position: relative;
  width: 45%;
  height: auto;
  aspect-ratio: 497 / 285;
  overflow: hidden;
  margin: 10px 0px 10px 0px;
  border: 5px solid black;
  border-radius: 8px;
  background-color: var(--graybg);
  text-align: center;
}

.grid-item img {
  width: 100%;
  aspect-ratio: 497 / 285;
  object-fit: cover;
  border-radius: calc(8px - 3px);
  filter: brightness(50%);
}

.grid-info {
  position: absolute;
  bottom: 3%;
  left: 2%;
  padding: 5px 10px 0px 10px;
}

.grid-info h1 {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 12px;
  padding: 10px 15px 10px 15px;
  font-size: 250%;
}

/*--------------------------------  SCP Info  --------------------------------*/

.content {
  background-color: var(--darkbg);
  color: white;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-feature-settings: "case", "ss01", "ss04";
  padding-bottom: 100px;
}

.content h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

.image {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.image img {
  width: 100%;
  height: 50vmin;
  object-fit: cover;
  filter: brightness(50%);
}

.image h1 {
  font-size: 4.5vmin;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
}

.image h1:first-of-type {
  position: absolute;
  padding: 5px 10px 5px 13px;
  bottom: 18%;
  left: 26px;
}
.image h1:last-of-type {
  position: absolute;
  bottom: 2vmin;
  left: 26px;
}

.scp-info {
  box-sizing: border-box;
  margin-top: 20px;
}

.scp-info hr {
  width: 92%;
  height: 3px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
}

.scp-info h3,
.scp-info h4,
.scp-info p {
  margin: 0px;
  padding: 0px;
}

.scp-info h3 {
  font-size: 4vmin;
  margin-top: 5px;
  margin-bottom: 20px;
}

.scp-info h4 {
  font-size: 3vmin;
  margin-top: 5px;
  margin-bottom: 20px;
}

.scp-info p {
  font-size: 2vmin;
}

/*-------------------  SCP Special Containment Procedures  -------------------*/

.scp-containment-info {
  box-sizing: border-box;
  padding: 10px 100px 20px 100px;
  margin-top: 30px;
}

.scp-description {
  box-sizing: border-box;
  padding: 10px 100px 20px 100px;
}

.scp-reference {
  box-sizing: border-box;
  padding: 10px 100px 20px 100px;
}

/*-------------------  Media queries -------------------*/
@media (max-width: 1350px) {
  .grid-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-item {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .grid-info h1 {
    font-size: 190%;
  }
  .navbar-nav li {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px) {
  .grid-item {
    height: auto;
  }
  .nav-li {
    color: #ffffff;
    display: block;
    font-size: 4vmin;
    padding: 5px 20px 5px 10px;
    margin: 0;
    border-radius: 12px;
  }
  .scp-containment-info,
  .scp-description {
    padding-left: 30px;
    padding-right: 30px;
  }
  .image h1 {
    font-size: 5vmin;
  }
  .image h1:first-of-type{
    bottom: 20%;
  }
  .scp-info hr {
    height: 1px;
  }
  .scp-info h3 {
    font-size: 7vmin;
  }
  .scp-info h4 {
    font-size: 6vmin;
  }
  .scp-info p {
    font-size: 3.5vmin;
  }
}

@media (max-width: 600px) {
  .grid-info h1 {
    font-size: 150%;
  }
  header {
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    height: 96.32px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: var(--darkbg);
    color: white;
    border-bottom: 8px solid black;
  }
  header img {
    float: left;
    width: 78.26px;
    margin: 0px;
    padding-left: 15.05px;
    padding-top: 9.03px;
    left: 0px;
  }
  header h1 {
    padding: 9px 0px 0px 12.04px;
    margin: 0px;
    font-weight: 700;
    font-size: 24.08px;
    text-wrap: nowrap;
  }
  header h2 {
    padding: 0px 0px 0px 12.04px;
    margin-top: 0px;
    font-size: 13.244px;
  }
  .center-nav {
    right: 20px;
  }
  .image h1:first-of-type{
    bottom: 23%;
  }
  .image h1 {
    font-size: 6vmin;
  }
  .warning-home {
    padding: 0vmin 2vmin 0vmin 2vmin;
  }
  .warning-home h2 {
    padding: 0px;
    margin: 0px;
    font-size: 1.1rem;
  }

  .warning-home #scp {
    margin-top: 10vmin;

    font-size: 2rem;
    letter-spacing: 1.5px;
    word-spacing: 25px;
    text-shadow: 0px 0px 20px black, 0px 0px 30px black;
  }
}

@media (max-width: 500px) {
  .grid-info h1 {
    font-size: 120%;
  }
}

@media (max-width: 400px) {
  .grid-info h1 {
    font-size: 100%;
  }
  .navbar-toggler {
    font-size: 1.25pc;
  }
  .center-nav {
    right: 15px;
  }
}
